html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar-nav {
  justify-content: flex-end;
}

.navbar-brand {
  font-family: Limelight, sans-serif;
  font-size: 2.5rem;
}

.input-validation-error,
.input-validation-error:focus {
  background: #f1aeb5;
  color: #dc3545;
}

.input-validation-error:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem #f1aeb5;
}

.field-validation-error,
.validation-summary-errors {
  color: #dc3545;
}
